.about-me-container {
    display: flex;
}

#about-me-title {
    margin: 0 0 12px 0;
}

main article {
    flex-grow: 2;
}

main aside {
    flex-grow: 1;
}

#profileImage {
    width: 300px;
    border: 3px solid #323232;
    border-radius: 12px;
}

.skills-container {
    display: flex;
    justify-content: space-evenly;
}

.fa-brands {
    font-size: 3.5rem;
}

.about-me-text-container {
    margin-right: 16px;
}