body {
    margin: 0;

    max-width: 900px;

    margin: 0 auto;
}

.container {
    height: 100vh;
    width: 100%;

    display: grid;

    gap: 10px;

    padding: 10px;
    box-sizing: border-box;

    
}

.title {
    grid-column-start: 1;
    grid-column-end: 3; 

    display: flex;

    align-items: center;
}

.nav {
    grid-column-start: 3;
    grid-column-end: 4;

    display: flex;

    align-items: center;

    justify-content: flex-end;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline;
    
    font-weight: 600;

    margin: 8px;
}

.about-me {
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;
}

.profile-photo {
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 3;
}

.profile-photo img {
    width: 100%;

    border-radius: 12px;
}

.skills {
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 4;
}

.skills-container {
    display: flex;
    justify-content: space-evenly;
}

.fa-brands {
    font-size: 3.5rem;
}

.contact {
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 4;
    grid-row-end: 5;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 5;
    grid-row-end: 6;

    text-align: center;

    margin-top: auto;
}

#heart {
    color: red;
}

