#ds-logo img {
    width: 75%;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    max-width: 400px;
    border: 3px solid #323232;
}

.portfolio-item img {
    width: 100%;
}

.portfolio-item figcaption {
    text-align: center;
}

.portfolio-item-container {
    display: flex;
    flex-wrap: wrap;
}

